@-webkit-keyframes movementCircle {
  0% {
    -webkit-transform: translate(1000px, -28px);
            transform: translate(1000px, -28px);
  }
  80% {
    -webkit-transform: translate(0px, -28px);
            transform: translate(0px, -28px);
    height: 75px;
    width: 75px;
    border-radius: 75px;
  }
  90% {
    height: 175px;
    width: 175px;
    border-radius: 175px;
  }
  100% {
    height: 150px;
    width: 150px;
    border-radius: 150px;
  }
}

@keyframes movementCircle {
  0% {
    -webkit-transform: translate(1000px, -28px);
            transform: translate(1000px, -28px);
  }
  80% {
    -webkit-transform: translate(0px, -28px);
            transform: translate(0px, -28px);
    height: 75px;
    width: 75px;
    border-radius: 75px;
  }
  90% {
    height: 175px;
    width: 175px;
    border-radius: 175px;
  }
  100% {
    height: 150px;
    width: 150px;
    border-radius: 150px;
  }
}

@-webkit-keyframes FadeOutCircle {
  0% {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(-1000px, -28px);
            transform: translate(-1000px, -28px);
    opacity: 0;
  }
}

@keyframes FadeOutCircle {
  0% {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translate(-1000px, -28px);
            transform: translate(-1000px, -28px);
    opacity: 0;
  }
}

@-webkit-keyframes backgroundFadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@keyframes backgroundFadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

@-webkit-keyframes backgroundFadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes backgroundFadeOut {
  0% {
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes scaleBack {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@keyframes scaleBack {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@-webkit-keyframes scaleForward {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaleForward {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    white-space: normal;
    -webkit-hyphens: auto;
            hyphens: auto;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    white-space: normal;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}

@-webkit-keyframes fadeText {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeText {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1f1e1e;
}

.base {
  padding-top: 90px;
}

.base__title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.base__wrapper {
  position: relative;
  width: 350px;
  margin: 0 auto;
  margin-top: 40px;
}

.base img {
  width: 260px;
  display: block;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: -30px;
}

.base .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.base .forms__main {
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 100px 20px 20px;
  resize: none;
  outline: none;
  background-color: #1f1e1e;
  border-radius: 15px 15px 0 0;
  border: 3px solid #535353;
  text-transform: uppercase;
  font-size: 20px;
  color: #4eecf1;
}

.base .forms__others {
  width: calc(50% -  5px);
  height: 40px;
  background-color: transparent;
  color: #747474;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  border: 2px solid #4cd663;
  border-radius: 0 0 0 15px;
  font-size: 14px;
}

.base .forms__others:last-child {
  border: 2px solid #d64c4c;
  border-radius: 0 0 15px 0;
  font-size: 30px;
}

.base .forms__others:hover {
  background-color: #4cd663;
  color: #fff;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 17px;
}

.base .forms__others:hover:last-child {
  background-color: #d64c4c;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  font-size: 20px;
  vertical-align: top;
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

.modal__container .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px 0;
  border: 3px solid #535353;
  border-radius: 50%;
  background-color: #1f1e1e;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
  z-index: 10;
}

.modal__container .modal__close {
  position: absolute;
  top: -3px;
  right: -3px;
  background: #141414;
  border: nonne;
  outline: 0;
  color: #747474;
}

.modal__container .modal__title {
  white-space: nowrap;
  opacity: 0;
}

.modal__active {
  overflow: hidden;
}

.modal__active .container {
  -webkit-animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal__active .modal__container {
  visibility: visible;
  opacity: 1;
  -webkit-animation: backgroundFadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: backgroundFadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal__active .modal {
  -webkit-animation: movementCircle 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: movementCircle 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal__active .modal__title {
  -webkit-animation: showText 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s forwards;
          animation: showText 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s forwards;
}

.out .container {
  -webkit-animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.out .modal__container {
  -webkit-animation: backgroundFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: backgroundFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.out .modal {
  -webkit-animation: FadeOutCircle 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: FadeOutCircle 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.out .modal__title {
  -webkit-animation: fadeText 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: fadeText 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
