* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1f1e1e;
}

.base {
  padding-top: 40px;
}

.base__title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.base__wrapper {
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

.base img {
  width: 260px;
  display: block;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: -30px;
}

.base .forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.base .forms__main {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.base .forms__others {
  width: calc(50% -  5px);
}
