@import '../sass/_animations.scss'

@import '../sass/_variables'

*
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
body
    background-color: $background

.base
    padding-top: 90px

    &__title
        text-transform: uppercase
        color: #ffffff
        text-align: center

    &__wrapper
        position: relative
        width: 350px
        margin: 0 auto
        margin-top: 40px

    img
        width: 260px
        display: block
        margin-right: 0
        margin-left: auto
        margin-bottom: -30px

    .forms
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        &__main
            width: 100%
            margin-bottom: 10px
            padding: 20px 100px 20px 20px
            resize: none
            outline: none
            background-color: $background
            border-radius: 15px 15px 0 0 
            border: 3px solid #535353
            //text
            text-transform: uppercase
            font-size: 20px
            color: #4eecf1

        &__others
            //Для обоих
            width: calc(50% -  5px)
            height: 40px  
            background-color: transparent
            color: $gray
            text-transform: uppercase
            letter-spacing: 1px
            cursor: pointer
            transition: 0.3s ease all
            //Для первого
            border: 2px solid $green
            border-radius: 0 0 0 15px
            font-size: 14px
            
        &__others:last-child
            border: 2px solid $red
            border-radius: 0 0 15px 0
            font-size: 30px 
            
        &__others:hover
            background-color: $green
            color: #fff
            transition: 0.3s ease all
            font-size: 17px
        &__others:hover:last-child
            background-color: $red
            transition: 0.3s ease all
            font-size: 20px
            vertical-align: top

// Modal
.modal__container
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    top: 0
    right: 0
    width: 100%
    height: 100%
    -webkit-overflow-scrolling: touch
    overflow: hidden
    z-index: 10
    visibility: hidden
    opacity: 0
    .modal
        display: flex
        justify-content: center
        align-items: center
        position: relative
        padding: 20px 0
        border: 3px solid #535353
        border-radius: 50% 
        background-color: $background 
        text-align: center 
        font-weight: 500
        font-size: 20px
        color: #fff
        transform: translateY(-28px)
        z-index: 10
        &__close
            position: absolute
            top: -3px
            right: -3px
            background: #141414
            border: nonne
            outline: 0
            color: $gray
        &__title
            white-space: nowrap
            opacity: 0

// JS
.modal__active
    overflow: hidden
    .container
        animation: scaleBack 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    .modal__container
        visibility: visible
        opacity: 1
        animation: backgroundFadeIn 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    .modal
        animation: movementCircle 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
        &__title
            animation: showText 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) 1.2s forwards
            

.out
    .container
        animation: scaleForward 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    .modal__container
        animation: backgroundFadeOut 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    .modal
        animation: FadeOutCircle 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
        &__title
            animation: fadeText 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards  




          
        
      
    
  