*
    box-sizing: border-box
body
    background-color: #1f1e1e

.base
    padding-top: 40px

    &__title
        text-transform: uppercase
        color: #ffffff
        text-align: center

    &__wrapper
        position: relative
        width: 400px
        margin: 0 auto
        margin-top: 40px

    img
        width: 260px
        display: block
        margin-right: 0
        margin-left: auto
        margin-bottom: -30px

    .forms
        display: flex
        flex-wrap: wrap
        justify-content: space-between

        &__main
            display: block
            width: 100%
            margin-bottom: 10px

        &__others
            width: calc(50% -  5px)